h1, h2 {
    text-align: center;
}


#portfolioImg {
    border-radius: 10%;
    padding:1px;
    border:1px solid #021a40;
}

#projectImg {
    max-width:100%;
    height:auto;
}

#projectImgLiri {
    max-width: 100%;
    height: auto;
} 

.card {
    border: 1px solid black;
    margin: 5px;
    height: 600px;
}

.card-title {
    text-align: center;
}

#contactIcon {
    height: 100px;
}

.contactIcons {
    height: 100px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

p {
    border: 1px;
    border-color: black;
    border-style: solid;
    height: 100%;
    /* margin-top: -50px; */
    vertical-align: center;
    padding: 10px;
}

body {
    background-image: url(images/background_img-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}