h1 {
    text-align: center;
}

#portfolioImg {
    border-radius: 10%;
    padding:1px;
    border:1px solid #021a40;
}

#projectImg {
    height: 160px;
    width: auto;
}

.card {
    border: 1px solid black;
    margin: 5px;
}

#contactIcon {
    height: 100px;
    text-align: center;
}

body {
    background-image: url(images/background_img-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}